# DANS CE PROJET NOUS ALLONS ETUDIER LES DONNEES DE LA BANQUE MONDIALE. 
# EN PARTICULIER LES DONNEES STATISTIQUES SUR L'EDUCATION.

In [422]:
# COMMENCONS PAR IMPORTER LES LIBRAIRIES NECESSAIRES 
import numpy as np # POUR LE CALCUL MATRICIEL NOTAMMENT
import pandas as pd # POUR LES DATAFRAMES
import matplotlib as plt # POUR LES REPRESENTATIONS GRAPHIQUES
import seaborn as sns # pour une plus grande facilité à réaliser des graphiques "attrayants"

### DANS LE DOSSIER A TELECHARGER SE TROUVENT 5 FICHIERS .CSV. NOUS ALLONS LES ETUDIER UN PAR UN

# ***<u>ETUDE DU PREMIER FICHIER : EdStatsCountry</u>***

In [423]:
# definition du path
path=r'C:\Users\lenovo\Desktop\OpenClassrooms\PROJET_OC\PROJET_2\RESSOURCES\Projet+Python_Dataset_Edstats_csv\EdStatsCountry.csv'

In [424]:
# CREATION DU DATAFRAME CORRESPONDANT
Fichier_Country = pd.read_csv(path)

In [425]:
# ETUDE DES 5 PREMIERES LIGNES DU DATAFRAME
Fichier_Country.head(2)

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN

DE PRIME ABORD ON PEUT CONSTATER QUE CE FICHIER EST TRIE PAR ORDRE ALPHABETIQUE DE COUNTRY CODE

IL COMPORTE 32 COLONNES COMME LE COUNTRY CODE QUI SERT D'IDENTIFIANT

LES DIFFERENTS NOMS (SHORT, TABLE, LONG)

LE PIB (HIGH, LOW ...)

DES DATES DE RECENSEMENT DE LA POPULATION ET DES PARCELLES AGRICOLES ET AUTRES

In [426]:
# RENTRONS PLUS EN DETAIL DANS L'EXPLORATION DE CE DATAFRAME
Fichier_Country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 32 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Code                                       241 non-null    object
 1   Short Name                                         241 non-null    object
 2   Table Name                                         241 non-null    object
 3   Long Name                                          241 non-null    object
 4   2-alpha code                                       238 non-null    object
 5   Currency Unit                                      215 non-null    object
 6   Special Notes                                      145 non-null    object
 7   Region                                             214 non-null    object
 8   Income Group                                       214 non-null    object
 9   WB-2 code                                          240 non-null    object
 10  National accounts base year                        205 non-null    object
 11  National accounts reference year                   32 non-null     float64
 12  SNA price valuation                                197 non-null    object
 13  Lending category                                   144 non-null    object
 14  Other groups                                       58 non-null     object
 15  System of National Accounts                        215 non-null    object
 16  Alternative conversion factor                      47 non-null     object
 17  PPP survey year                                    145 non-null    object
 18  Balance of Payments Manual in use                  181 non-null    object
 19  External debt Reporting status                     124 non-null    object
 20  System of trade                                    200 non-null    object
 21  Government Accounting concept                      161 non-null    object
 22  IMF data dissemination standard                    181 non-null    object
 23  Latest population census                           213 non-null    object
 24  Latest household survey                            141 non-null    object
 25  Source of most recent Income and expenditure data  160 non-null    object
 26  Vital registration complete                        111 non-null    object
 27  Latest agricultural census                         142 non-null    object
 28  Latest industrial data                             107 non-null    float64
 29  Latest trade data                                  185 non-null    float64
 30  Latest water withdrawal data                       179 non-null    object
 31  Unnamed: 31                                        0 non-null      float64
dtypes: float64(4), object(28)
memory usage: 60.4+ KB

In [427]:
Fichier_Country['Vital registration complete'].unique()

array(['Yes', nan, 'Yes. Vital registration for Guernsey and Jersey.'],
      dtype=object)

In [428]:
# DANS UN PREMIER TEMPS ON NE VA CONSERVER QUE LES PAYS QUI ONT UN RENSEIGNEMENT DIF DE NAN DANS LA COLONNE VITAL REGISTRATION COMPPLETE
# CETTE COLONNE INDIQUANT LA QUALITE DES DEMARCHES EFFECTUEES A L'ETAT CIVIL (NAISSANCE,DECES, MARIAGE ...)
# CE CHOIX ME SEMBLE PERTINENT AFIN DE DISPOSER ENSUITE DE VALEURS CORRECTES
Fichier_Country=Fichier_Country.loc[(Fichier_Country['Vital registration complete']=='Yes. Vital registration for Guernsey and Jersey.') | (Fichier_Country['Vital registration complete']=='Yes')]

CE FICHIER CONTIENT  241 LIGNES NUMEROTEES DE 0 A 240 ET 32 COLONNES NUMEROTEES DE 0 A 31. IL COMPORTE 4 COLONNES DE TYPES FLOAT (NOMBRES DECIMAUX) ET 28 DE TYPE OBJECT (CHAINE DE CARACTERES). 

ON CONSTATE QUE LA COLONNE N° 31 (Unnamed: 31) EST ENTIEREMENT VIDE, EN EFFET ELLE CONTIENT 0 NON-NULL. D'AUTRES COMME LA N°16 (Alternative conversion factor) OU ENCORE LA N°11 (National accounts reference year).... NE SONT QUE PEU REMPLIES. D'AUTRES COMME LA N°5 (Currency Unit) SONT QUASIMENT COMPLETES. ENFIN DES COLONNES TELLES QUE LA N°1 (Short Name) sont complétes.

In [429]:
# ON VA DROP TOUTES LES LIGNES QUI ONT PLUS DE 30% DE NAN

Liste_à_drop = []
for features in Fichier_Country.columns:
    if Fichier_Country[features].isnull().sum()>0.3*Fichier_Country.shape[0]:
        Liste_à_drop.append(features)
print(Liste_à_drop)
Fichier_Country=Fichier_Country.drop(Liste_à_drop,axis=1)
Fichier_Country.info()

['Special Notes', 'National accounts reference year', 'Lending category', 'Other groups', 'Alternative conversion factor', 'PPP survey year', 'External debt Reporting status', 'Latest household survey', 'Source of most recent Income and expenditure data', 'Latest agricultural census', 'Latest industrial data', 'Unnamed: 31']
<class 'pandas.core.frame.DataFrame'>
Index: 111 entries, 0 to 232
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country Code                       111 non-null    object
 1   Short Name                         111 non-null    object
 2   Table Name                         111 non-null    object
 3   Long Name                          111 non-null    object
 4   2-alpha code                       110 non-null    object
 5   Currency Unit                      111 non-null    object
 6   Region                             111 non-null    object
 7   Income Group                       111 non-null    object
 8   WB-2 code                          111 non-null    object
 9   National accounts base year        106 non-null    object
 10  SNA price valuation                99 non-null     object
 11  System of National Accounts        111 non-null    object
 12  Balance of Payments Manual in use  91 non-null     object
 13  System of trade                    107 non-null    object
 14  Government Accounting concept      85 non-null     object
 15  IMF data dissemination standard    89 non-null     object
 16  Latest population census           111 non-null    object
 17  Vital registration complete        111 non-null    object
 18  Latest trade data                  98 non-null     float64
 19  Latest water withdrawal data       90 non-null     object
dtypes: float64(1), object(19)
memory usage: 18.2+ KB

# ***<u>PASSONS AU PROCHAIN FICHIER NOMME EdStatsCountry-Series</u>***

In [430]:
# definition du path
path=r'C:\Users\lenovo\Desktop\OpenClassrooms\PROJET_OC\PROJET_2\RESSOURCES\Projet+Python_Dataset_Edstats_csv\EdStatsCountry-Series.csv'

In [431]:
# CREATION DU DATAFRAME CORRESPONDANT
Fichier_Country_Series = pd.read_csv(path)

In [432]:
# ETUDE DES 5 PREMIERES LIGNES DU DATAFRAME
Fichier_Country_Series.head(5)

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.,NaN
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...,NaN

DE PRIME ABORD ON PEUT CONSTATER QUE CE FICHIER EST TRIE PAR ORDRE ALPHABETIQUE DE COUNTRY CODE

IL COMPORTE 4 COLONNES COMME LE COUNTRY CODE QUI SERT D'IDENTIFIANT

UNE COLONNE NOMMEE SeriesCode EN LIEN CERTAINEMENT AVEFC LE FICHIER EdStatsSeries

UNE COLONNE DESCRIPTION INDIQUANT LA SOURCE DES INFOS. ON CONSTATE QUE LES SOURCES VARIENT. CERTAINES OFFICIELLES COMME L'ONU. D'AUTRES OBTENUES PAR REGRESSION

UNE COLONNE Unnamed: 3 CERTAINEMENT ENTIEREMENT VIDE COMME SUR LE FICHIER PRECEDENT

In [433]:
# RENTRONS PLUS EN DETAIL DANS L'EXPLORATION DE CE DATAFRAME
Fichier_Country_Series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryCode  613 non-null    object
 1   SeriesCode   613 non-null    object
 2   DESCRIPTION  613 non-null    object
 3   Unnamed: 3   0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 19.3+ KB

CE FICHIER CONTIENT  ***613 LIGNES*** NUMEROTEES DE 0 A 612 ET ***4 COLONNES*** NUMEROTEES DE 0 A 3. IL COMPORTE *****1 COLONNE DE TYPES FLOAT***** (NOMBRES DECIMAUX) ET ***3 DE TYPE OBJECT*** (CHAINE DE CARACTERES).

ON CONSTATE QUE LA COLONNE N° 3 (Unnamed: 3) EST ENTIEREMENT VIDE, EN EFFET ELLE CONTIENT 0 NON-NULL. QUANT AU RESTE DES COLONNES ELLES SONT COMPLETES.

In [434]:
# ON VA DROP TOUTES LES COLONNES QUI N'ONT PAS AU MOINS 70% DE NON NULL

Liste_à_drop = []
for features in Fichier_Country_Series.columns:
    if Fichier_Country_Series[features].isnull().sum()>0.3*Fichier_Country_Series.shape[0]:
        Liste_à_drop.append(features)
print(Liste_à_drop)
Fichier_Country_Series=Fichier_Country_Series.drop(Liste_à_drop,axis=1)
Fichier_Country_Series.info()

['Unnamed: 3']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryCode  613 non-null    object
 1   SeriesCode   613 non-null    object
 2   DESCRIPTION  613 non-null    object
dtypes: object(3)
memory usage: 14.5+ KB

# ***<u>PASSONS AU PROCHAIN FICHIER NOMME EdStatsData</u>***

In [435]:
# definition du path
path=r'C:\Users\lenovo\Desktop\OpenClassrooms\PROJET_OC\PROJET_2\RESSOURCES\Projet+Python_Dataset_Edstats_csv\EdStatsData.csv'

In [436]:
# CREATION DU DATAFRAME CORRESPONDANT
Fichier_Data = pd.read_csv(path)

In [437]:
# ETUDE DES 5 PREMIERES LIGNES DU DATAFRAME
Fichier_Data.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

DE PRIME ABORD ON PEUT CONSTATER QUE CE FICHIER EST TRIE PAR ORDRE ALPHABETIQUE DE COUNTRY NAME, CEPENDANT ICI IL SEMBLE PLUTOT S'AGIR DE GROUPE GEOGRAPHIQUE COMME Arab World (Monde Arabe) OU ENCORE East Asia & Pacific (Espace Asie Pacifique). IL FAUDRA EXPLORER PLUS EN PROFONDEUR CES RENSEIGNEMENTS

IL COMPORTE 70 COLONNES COMME LE COUNTRY CODE QUI SERT D'IDENTIFIANT

DEUX COLONNES NOMMEES Country Name ET Country Code QUI REPRESENTENT EN FAIT LES CODE DE REGIONS GEOGRAPHIOQUES AINSI QUE LEUR VERSIONS ABREGEES (EX : Arab World -> ARB)

DEUX COLONNES NOMMEES Indicator Name ET Indicator Code QUI SONT L'INDICATEUR ETUDIE AINSI QUE SON ABREVIATION (EX : Adujstment... -> UIS.NERA.2)

LA DERNIERE NOMMEE Unnamed: 69 CERTAINEMENT VIDE COMME SUR LES FICHIERS PRECEDENT

QUANT AUX 65 COLONNES RESTANTES ELLES REPRESENTENT TOUTES UNE ANNE DIFFERENTES CONTENANT LES VALEURS CONNUES POUR L'INDICATEUR PRECISE DANS LA COLONNE Indicator Name A LA DATE INDIQUEE PAR LA COLONNE. LES ANNEES AVANCENT D'UN PAS DE 1 DE 1970 A 2017 INCLUS PUIS AVANCENT D'UN PAS DE 5 DE 2020 A 2100 INCLUS.

In [438]:
# RENTRONS PLUS EN DETAIL DANS L'EXPLORATION DE CE DATAFRAME
Fichier_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886930 entries, 0 to 886929
Data columns (total 70 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    886930 non-null  object
 1   Country Code    886930 non-null  object
 2   Indicator Name  886930 non-null  object
 3   Indicator Code  886930 non-null  object
 4   1970            72288 non-null   float64
 5   1971            35537 non-null   float64
 6   1972            35619 non-null   float64
 7   1973            35545 non-null   float64
 8   1974            35730 non-null   float64
 9   1975            87306 non-null   float64
 10  1976            37483 non-null   float64
 11  1977            37574 non-null   float64
 12  1978            37576 non-null   float64
 13  1979            36809 non-null   float64
 14  1980            89122 non-null   float64
 15  1981            38777 non-null   float64
 16  1982            37511 non-null   float64
 17  1983            38460 non-null   float64
 18  1984            38606 non-null   float64
 19  1985            90296 non-null   float64
 20  1986            39372 non-null   float64
 21  1987            38641 non-null   float64
 22  1988            38552 non-null   float64
 23  1989            37540 non-null   float64
 24  1990            124405 non-null  float64
 25  1991            74437 non-null   float64
 26  1992            75543 non-null   float64
 27  1993            75793 non-null   float64
 28  1994            77462 non-null   float64
 29  1995            131361 non-null  float64
 30  1996            76807 non-null   float64
 31  1997            73453 non-null   float64
 32  1998            84914 non-null   float64
 33  1999            118839 non-null  float64
 34  2000            176676 non-null  float64
 35  2001            123509 non-null  float64
 36  2002            124205 non-null  float64
 37  2003            130363 non-null  float64
 38  2004            128814 non-null  float64
 39  2005            184108 non-null  float64
 40  2006            140312 non-null  float64
 41  2007            137272 non-null  float64
 42  2008            134387 non-null  float64
 43  2009            142108 non-null  float64
 44  2010            242442 non-null  float64
 45  2011            146012 non-null  float64
 46  2012            147264 non-null  float64
 47  2013            137509 non-null  float64
 48  2014            113789 non-null  float64
 49  2015            131058 non-null  float64
 50  2016            16460 non-null   float64
 51  2017            143 non-null     float64
 52  2020            51436 non-null   float64
 53  2025            51436 non-null   float64
 54  2030            51436 non-null   float64
 55  2035            51436 non-null   float64
 56  2040            51436 non-null   float64
 57  2045            51436 non-null   float64
 58  2050            51436 non-null   float64
 59  2055            51436 non-null   float64
 60  2060            51436 non-null   float64
 61  2065            51436 non-null   float64
 62  2070            51436 non-null   float64
 63  2075            51436 non-null   float64
 64  2080            51436 non-null   float64
 65  2085            51436 non-null   float64
 66  2090            51436 non-null   float64
 67  2095            51436 non-null   float64
 68  2100            51436 non-null   float64
 69  Unnamed: 69     0 non-null       float64
dtypes: float64(66), object(4)
memory usage: 473.7+ MB

In [439]:
list(Fichier_Data['Indicator Name'].unique())

['Adjusted net enrolment rate, lower secondary, both sexes (%)',
 'Adjusted net enrolment rate, lower secondary, female (%)',
 'Adjusted net enrolment rate, lower secondary, gender parity index (GPI)',
 'Adjusted net enrolment rate, lower secondary, male (%)',
 'Adjusted net enrolment rate, primary, both sexes (%)',
 'Adjusted net enrolment rate, primary, female (%)',
 'Adjusted net enrolment rate, primary, gender parity index (GPI)',
 'Adjusted net enrolment rate, primary, male (%)',
 'Adjusted net enrolment rate, upper secondary, both sexes (%)',
 'Adjusted net enrolment rate, upper secondary, female (%)',
 'Adjusted net enrolment rate, upper secondary, gender parity index (GPI)',
 'Adjusted net enrolment rate, upper secondary, male (%)',
 'Adjusted net intake rate to Grade 1 of primary education, both sexes (%)',
 'Adjusted net intake rate to Grade 1 of primary education, female (%)',
 'Adjusted net intake rate to Grade 1 of primary education, gender parity index (GPI)',
 'Adjusted net intake rate to Grade 1 of primary education, male (%)',
 'Adult illiterate population, 15+ years, % female',
 'Adult illiterate population, 15+ years, both sexes (number)',
 'Adult illiterate population, 15+ years, female (number)',
 'Adult illiterate population, 15+ years, male (number)',
 'Adult literacy rate, population 15+ years, both sexes (%)',
 'Adult literacy rate, population 15+ years, female (%)',
 'Adult literacy rate, population 15+ years, gender parity index (GPI)',
 'Adult literacy rate, population 15+ years, male (%)',
 'Africa Dataset: Average number of grades per multigrade class in primary schools (number of grades)',
 'Africa Dataset: Average number of pupils per mathematics textbook in Grade 1 of primary education (number)',
 'Africa Dataset: Average number of pupils per mathematics textbook in Grade 2 of primary education (number)',
 'Africa Dataset: Average number of pupils per mathematics textbook in Grade 3 of primary education (number)',
 'Africa Dataset: Average number of pupils per mathematics textbook in Grade 4 of primary education (number)',
 'Africa Dataset: Average number of pupils per mathematics textbook in Grade 5 of primary education (number)',
 'Africa Dataset: Average number of pupils per mathematics textbook in Grade 6 of primary education (number)',
 'Africa Dataset: Average number of pupils per mathematics textbook in Grade 7 of primary education (number)',
 'Africa Dataset: Average number of pupils per mathematics textbook in primary education (number)',
 'Africa Dataset: Average number of pupils per reading textbook in Grade 1 of primary education (number)',
 'Africa Dataset: Average number of pupils per reading textbook in Grade 2 of primary education (number)',
 'Africa Dataset: Average number of pupils per reading textbook in Grade 3 of primary education (number)',
 'Africa Dataset: Average number of pupils per reading textbook in Grade 4 of primary education (number)',
 'Africa Dataset: Average number of pupils per reading textbook in Grade 5 of primary education (number)',
 'Africa Dataset: Average number of pupils per reading textbook in Grade 6 of primary education (number)',
 'Africa Dataset: Average number of pupils per reading textbook in Grade 7 of primary education (number)',
 'Africa Dataset: Average number of pupils per reading textbook in primary education (number)',
 'Africa Dataset: Average size of classes in primary schools (number of pupils)',
 'Africa Dataset: Average size of multigrade classes in primary schools (number of pupils)',
 'Africa Dataset: Average size of single grade classes in Grade 1 of primary schools (number of pupils)',
 'Africa Dataset: Average size of single grade classes in Grade 2 of primary schools (number of pupils)',
 'Africa Dataset: Average size of single grade classes in Grade 3 of primary schools (number of pupils)',
 'Africa Dataset: Average size of single grade classes in Grade 4 of primary schools (number of pupils)',
 'Africa Dataset: Average size of single grade classes in Grade 5 of primary schools (number of pupils)',
 'Africa Dataset: Average size of single grade classes in Grade 6 of primary schools (number of pupils)',
 'Africa Dataset: Average size of single grade classes in Grade 7 of primary schools (number of pupils)',
 'Africa Dataset: Average size of single grade classes in primary schools (number of pupils)',
 'Africa Dataset: Graduates from accredited pre-service lower secondary teacher training programmes, both sexes (number)',
 'Africa Dataset: Graduates from accredited pre-service lower secondary teacher training programmes, female (number)',
 'Africa Dataset: Graduates from accredited pre-service primary or secondary teacher training programmes, both sexes (number)',
 'Africa Dataset: Graduates from accredited pre-service primary or secondary teacher training programmes, female (number)',
 'Africa Dataset: Graduates from accredited pre-service primary teacher training programmes, both sexes (number)',
 'Africa Dataset: Graduates from accredited pre-service primary teacher training programmes, female (number)',
 'Africa Dataset: Graduates from accredited pre-service teacher training programmes, level unspecified, both sexes (number)',
 'Africa Dataset: Graduates from accredited pre-service teacher training programmes, level unspecified, female (number)',
 'Africa Dataset: Graduates from accredited pre-service upper secondary teacher training programmes, both sexes (number)',
 'Africa Dataset: Graduates from accredited pre-service upper secondary teacher training programmes, female (number)',
 'Africa Dataset: Percentage of female newly recruited teachers in lower secondary education who are trained, female (%)',
 'Africa Dataset: Percentage of female newly recruited teachers in primary education who are trained, female (%)',
 'Africa Dataset: Percentage of female newly recruited teachers in upper secondary education who are trained, female (%)',
 'Africa Dataset: Percentage of female teachers in lower secondary education who are newly recruited, female (%)',
 'Africa Dataset: Percentage of female teachers in primary education who are newly recruited, female (%)',
 'Africa Dataset: Percentage of female teachers in upper secondary education who are newly recruited, female (%)',
 'Africa Dataset: Percentage of lower secondary schools with access to electricity (%)',
 'Africa Dataset: Percentage of lower secondary schools with access to potable water (%)',
 'Africa Dataset: Percentage of lower secondary schools with mixed-sex toilets (%)',
 'Africa Dataset: Percentage of lower secondary schools with no information on electricity (%)',
 'Africa Dataset: Percentage of lower secondary schools with no information on potable water (%)',
 'Africa Dataset: Percentage of lower secondary schools with no information on toilets (%)',
 'Africa Dataset: Percentage of lower secondary schools with single-sex toilets (%)',
 'Africa Dataset: Percentage of lower secondary schools with toilets (%)',
 'Africa Dataset: Percentage of lower secondary schools without access to electricity (%)',
 'Africa Dataset: Percentage of lower secondary schools without access to potable water (%)',
 'Africa Dataset: Percentage of lower secondary schools without toilets (%)',
 'Africa Dataset: Percentage of male newly recruited teachers in lower secondary education who are trained, male (%)',
 'Africa Dataset: Percentage of male newly recruited teachers in primary education who are trained, male (%)',
 'Africa Dataset: Percentage of male newly recruited teachers in upper secondary education who are trained, male (%)',
 'Africa Dataset: Percentage of male teachers in lower secondary education who are newly recruited, male (%)',
 'Africa Dataset: Percentage of male teachers in primary education who are newly recruited, male (%)',
 'Africa Dataset: Percentage of male teachers in upper secondary education who are newly recruited, male (%)',
 'Africa Dataset: Percentage of newly recruited teachers in lower secondary education who are female (%)',
 'Africa Dataset: Percentage of newly recruited teachers in lower secondary education who are trained, both sexes (%)',
 'Africa Dataset: Percentage of newly recruited teachers in primary education who are female (%)',
 'Africa Dataset: Percentage of newly recruited teachers in primary education who are trained, both sexes (%)',
 'Africa Dataset: Percentage of newly recruited teachers in upper secondary education who are female (%)',
 'Africa Dataset: Percentage of newly recruited teachers in upper secondary education who are trained, both sexes (%)',
 'Africa Dataset: Percentage of primary pupils in multigrade classes (%)',
 'Africa Dataset: Percentage of primary schools with access to electricity (%)',
 'Africa Dataset: Percentage of primary schools with access to potable water (%)',
 'Africa Dataset: Percentage of primary schools with mixed-sex toilets (%)',
 'Africa Dataset: Percentage of primary schools with no information on electricity (%)',
 'Africa Dataset: Percentage of primary schools with no information on potable water (%)',
 'Africa Dataset: Percentage of primary schools with no information on toilets (%)',
 'Africa Dataset: Percentage of primary schools with single-sex toilets (%)',
 'Africa Dataset: Percentage of primary schools with toilets (%)',
 'Africa Dataset: Percentage of primary schools without access to electricity (%)',
 'Africa Dataset: Percentage of primary schools without access to potable water (%)',
 'Africa Dataset: Percentage of primary schools without toilets (%)',
 'Africa Dataset: Percentage of teachers in lower secondary education who are newly recruited, both sexes (%)',
 'Africa Dataset: Percentage of teachers in primary education who are newly recruited, both sexes (%)',
 'Africa Dataset: Percentage of teachers in upper secondary education who are newly recruited, both sexes (%)',
 'Africa Dataset: Ratio of teacher training graduates to teachers in lower secondary education, both sexes',
 'Africa Dataset: Ratio of teacher training graduates to teachers in lower secondary education, female',
 'Africa Dataset: Ratio of teacher training graduates to teachers in lower secondary education, male',
 'Africa Dataset: Ratio of teacher training graduates to teachers in primary education, both sexes',
 'Africa Dataset: Ratio of teacher training graduates to teachers in primary education, female',
 'Africa Dataset: Ratio of teacher training graduates to teachers in primary education, male',
 'Africa Dataset: Ratio of teacher training graduates to teachers in upper secondary education, both sexes',
 'Africa Dataset: Ratio of teacher training graduates to teachers in upper secondary education, female',
 'Africa Dataset: Ratio of teacher training graduates to teachers in upper secondary education, male',
 'Africa Dataset: School census return rate from primary schools',
 'Africa Dataset: School census return rate from secondary schools',
 'Africa Dataset: Teacher attrition rate from public lower secondary education, both sexes (%)',
 'Africa Dataset: Teacher attrition rate from public lower secondary education, female (%)',
 'Africa Dataset: Teacher attrition rate from public lower secondary education, male (%)',
 'Africa Dataset: Teacher attrition rate from public primary education, both sexes (%)',
 'Africa Dataset: Teacher attrition rate from public primary education, female (%)',
 'Africa Dataset: Teacher attrition rate from public primary education, male (%)',
 'Africa Dataset: Teacher attrition rate from public upper secondary education, both sexes (%)',
 'Africa Dataset: Teacher attrition rate from public upper secondary education, female (%)',
 'Africa Dataset: Teacher attrition rate from public upper secondary education, male (%)',
 'All staff compensation as % of total expenditure in lower secondary public institutions (%)',
 'All staff compensation as % of total expenditure in post-secondary non-tertiary public institutions (%)',
 'All staff compensation as % of total expenditure in pre-primary public institutions (%)',
 'All staff compensation as % of total expenditure in primary public institutions (%)',
 'All staff compensation as % of total expenditure in public institutions (%)',
 'All staff compensation as % of total expenditure in secondary public institutions (%)',
 'All staff compensation as % of total expenditure in tertiary public institutions (%)',
 'All staff compensation as % of total expenditure in upper secondary public institutions (%)',
 'Annual statutory teacher salaries in public institutions in USD. Lower Secondary. 10 years of experience',
 'Annual statutory teacher salaries in public institutions in USD. Lower Secondary. 15 years of experience',
 'Annual statutory teacher salaries in public institutions in USD. Lower Secondary. Starting salary',
 'Annual statutory teacher salaries in public institutions in USD. Lower Secondary. Top of scale',
 'Annual statutory teacher salaries in public institutions in USD. Pre-Primary. 10 years of experience',
 'Annual statutory teacher salaries in public institutions in USD. Pre-Primary. 15 years of experience',
 'Annual statutory teacher salaries in public institutions in USD. Pre-Primary. Starting salary',
 'Annual statutory teacher salaries in public institutions in USD. Pre-Primary. Top of scale',
 'Annual statutory teacher salaries in public institutions in USD. Primary. 10 years of experience',
 'Annual statutory teacher salaries in public institutions in USD. Primary. 15 years of experience',
 'Annual statutory teacher salaries in public institutions in USD. Primary. Starting salary',
 'Annual statutory teacher salaries in public institutions in USD. Primary. Top of scale',
 'Annual statutory teacher salaries in public institutions in USD. Upper Secondary. 10 years of experience',
 'Annual statutory teacher salaries in public institutions in USD. Upper Secondary. 15 years of experience',
 'Annual statutory teacher salaries in public institutions in USD. Upper Secondary. Starting salary',
 'Annual statutory teacher salaries in public institutions in USD. Upper Secondary. Top of scale',
 'Barro-Lee: Average years of primary schooling, age 15+, female',
 'Barro-Lee: Average years of primary schooling, age 15+, total',
 'Barro-Lee: Average years of primary schooling, age 15-19, female',
 'Barro-Lee: Average years of primary schooling, age 15-19, total',
 'Barro-Lee: Average years of primary schooling, age 20-24, female',
 'Barro-Lee: Average years of primary schooling, age 20-24, total',
 'Barro-Lee: Average years of primary schooling, age 25+, female',
 'Barro-Lee: Average years of primary schooling, age 25+, total',
 'Barro-Lee: Average years of primary schooling, age 25-29, female',
 'Barro-Lee: Average years of primary schooling, age 25-29, total',
 'Barro-Lee: Average years of primary schooling, age 30-34, female',
 'Barro-Lee: Average years of primary schooling, age 30-34, total',
 'Barro-Lee: Average years of primary schooling, age 35-39, female',
 'Barro-Lee: Average years of primary schooling, age 35-39, total',
 'Barro-Lee: Average years of primary schooling, age 40-44, female',
 'Barro-Lee: Average years of primary schooling, age 40-44, total',
 'Barro-Lee: Average years of primary schooling, age 45-49, female',
 'Barro-Lee: Average years of primary schooling, age 45-49, total',
 'Barro-Lee: Average years of primary schooling, age 50-54, female',
 'Barro-Lee: Average years of primary schooling, age 50-54, total',
 'Barro-Lee: Average years of primary schooling, age 55-59, female',
 'Barro-Lee: Average years of primary schooling, age 55-59, total',
 'Barro-Lee: Average years of primary schooling, age 60-64, female',
 'Barro-Lee: Average years of primary schooling, age 60-64, total',
 'Barro-Lee: Average years of primary schooling, age 65-69, female',
 'Barro-Lee: Average years of primary schooling, age 65-69, total',
 'Barro-Lee: Average years of primary schooling, age 70-74, female',
 'Barro-Lee: Average years of primary schooling, age 70-74, total',
 'Barro-Lee: Average years of primary schooling, age 75+, female',
 'Barro-Lee: Average years of primary schooling, age 75+, total',
 'Barro-Lee: Average years of secondary schooling, age 15+, female',
 'Barro-Lee: Average years of secondary schooling, age 15+, total',
 'Barro-Lee: Average years of secondary schooling, age 15-19, female',
 'Barro-Lee: Average years of secondary schooling, age 15-19, total',
 'Barro-Lee: Average years of secondary schooling, age 20-24, female',
 'Barro-Lee: Average years of secondary schooling, age 20-24, total',
 'Barro-Lee: Average years of secondary schooling, age 25+, female',
 'Barro-Lee: Average years of secondary schooling, age 25+, total',
 'Barro-Lee: Average years of secondary schooling, age 25-29, female',
 'Barro-Lee: Average years of secondary schooling, age 25-29, total',
 'Barro-Lee: Average years of secondary schooling, age 30-34, female',
 'Barro-Lee: Average years of secondary schooling, age 30-34, total',
 'Barro-Lee: Average years of secondary schooling, age 35-39, female',
 'Barro-Lee: Average years of secondary schooling, age 35-39, total',
 'Barro-Lee: Average years of secondary schooling, age 40-44, female',
 'Barro-Lee: Average years of secondary schooling, age 40-44, total',
 'Barro-Lee: Average years of secondary schooling, age 45-49, female',
 'Barro-Lee: Average years of secondary schooling, age 45-49, total',
 'Barro-Lee: Average years of secondary schooling, age 50-54, female',
 'Barro-Lee: Average years of secondary schooling, age 50-54, total',
 'Barro-Lee: Average years of secondary schooling, age 55-59, female',
 'Barro-Lee: Average years of secondary schooling, age 55-59, total',
 'Barro-Lee: Average years of secondary schooling, age 60-64, female',
 'Barro-Lee: Average years of secondary schooling, age 60-64, total',
 'Barro-Lee: Average years of secondary schooling, age 65-69, female',
 'Barro-Lee: Average years of secondary schooling, age 65-69, total',
 'Barro-Lee: Average years of secondary schooling, age 70-74, female',
 'Barro-Lee: Average years of secondary schooling, age 70-74, total',
 'Barro-Lee: Average years of secondary schooling, age 75+, female',
 'Barro-Lee: Average years of secondary schooling, age 75+, total',
 'Barro-Lee: Average years of tertiary schooling, age 15+, female',
 'Barro-Lee: Average years of tertiary schooling, age 15+, total',
 'Barro-Lee: Average years of tertiary schooling, age 15-19, female',
 'Barro-Lee: Average years of tertiary schooling, age 15-19, total',
 'Barro-Lee: Average years of tertiary schooling, age 20-24, female',
 'Barro-Lee: Average years of tertiary schooling, age 20-24, total',
 'Barro-Lee: Average years of tertiary schooling, age 25+, female',
 'Barro-Lee: Average years of tertiary schooling, age 25+, total',
 'Barro-Lee: Average years of tertiary schooling, age 25-29, female',
 'Barro-Lee: Average years of tertiary schooling, age 25-29, total',
 'Barro-Lee: Average years of tertiary schooling, age 30-34, female',
 'Barro-Lee: Average years of tertiary schooling, age 30-34, total',
 'Barro-Lee: Average years of tertiary schooling, age 35-39, female',
 'Barro-Lee: Average years of tertiary schooling, age 35-39, total',
 'Barro-Lee: Average years of tertiary schooling, age 40-44, female',
 'Barro-Lee: Average years of tertiary schooling, age 40-44, total',
 'Barro-Lee: Average years of tertiary schooling, age 45-49, female',
 'Barro-Lee: Average years of tertiary schooling, age 45-49, total',
 'Barro-Lee: Average years of tertiary schooling, age 50-54, female',
 'Barro-Lee: Average years of tertiary schooling, age 50-54, total',
 'Barro-Lee: Average years of tertiary schooling, age 55-59, female',
 'Barro-Lee: Average years of tertiary schooling, age 55-59, total',
 'Barro-Lee: Average years of tertiary schooling, age 60-64, female',
 'Barro-Lee: Average years of tertiary schooling, age 60-64, total',

In [440]:
list(Fichier_Data['Indicator Code'].unique())

['UIS.NERA.2',
 'UIS.NERA.2.F',
 'UIS.NERA.2.GPI',
 'UIS.NERA.2.M',
 'SE.PRM.TENR',
 'SE.PRM.TENR.FE',
 'UIS.NERA.1.GPI',
 'SE.PRM.TENR.MA',
 'UIS.NERA.3',
 'UIS.NERA.3.F',
 'UIS.NERA.3.GPI',
 'UIS.NERA.3.M',
 'UIS.NIRA.1',
 'UIS.NIRA.1.F',
 'UIS.NIRA.1.GPI',
 'UIS.NIRA.1.M',
 'UIS.LPP.AG15T99',
 'UIS.LP.AG15T99',
 'UIS.LP.AG15T99.F',
 'UIS.LP.AG15T99.M',
 'SE.ADT.LITR.ZS',
 'SE.ADT.LITR.FE.ZS',
 'UIS.LR.AG15T99.GPI',
 'SE.ADT.LITR.MA.ZS',
 'UIS.AFR.AGRADMG.1.PU',
 'UIS.AFR.PBR.1.G1.PU.MATH',
 'UIS.AFR.PBR.1.G2.PU.MATH',
 'UIS.AFR.PBR.1.G3.PU.MATH',
 'UIS.AFR.PBR.1.G4.PU.MATH',
 'UIS.AFR.PBR.1.G5.PU.MATH',
 'UIS.AFR.PBR.1.G6.PU.MATH',
 'UIS.AFR.PBR.1.G7.PU.MATH',
 'UIS.AFR.PBR.1.PU.MATH',
 'UIS.AFR.PBR.1.G1.PU.READ',
 'UIS.AFR.PBR.1.G2.PU.READ',
 'UIS.AFR.PBR.1.G3.PU.READ',
 'UIS.AFR.PBR.1.G4.PU.READ',
 'UIS.AFR.PBR.1.G5.PU.READ',
 'UIS.AFR.PBR.1.G6.PU.READ',
 'UIS.AFR.PBR.1.G7.PU.READ',
 'UIS.AFR.PBR.1.PU.READ',
 'UIS.AFR.CS.1.PU',
 'UIS.AFR.CS.MG.1.PU',
 'UIS.AFR.CS.SG.1.G1.PU',
 'UIS.AFR.CS.SG.1.G2.PU',
 'UIS.AFR.CS.SG.1.G3.PU',
 'UIS.AFR.CS.SG.1.G4.PU',
 'UIS.AFR.CS.SG.1.G5.PU',
 'UIS.AFR.CS.SG.1.G6.PU',
 'UIS.AFR.CS.SG.1.G7.PU',
 'UIS.AFR.CS.SG.1.PU',
 'UIS.AFR.GTC.2.T',
 'UIS.AFR.GTC.2.F',
 'UIS.AFR.GTC.1T3.T',
 'UIS.AFR.GTC.1T3.F',
 'UIS.AFR.GTC.1.T',
 'UIS.AFR.GTC.1.F',
 'UIS.AFR.GTC.UK.T',
 'UIS.AFR.GTC.UK.F',
 'UIS.AFR.GTC.3.T',
 'UIS.AFR.GTC.3.F',
 'UIS.AFR.TRNTP.2.PU.F',
 'UIS.AFR.TRNTP.1.PU.F',
 'UIS.AFR.TRNTP.3.PU.F',
 'UIS.AFR.NTP.2.PU.F',
 'UIS.AFR.NTP.1.PU.F',
 'UIS.AFR.NTP.3.PU.F',
 'UIS.AFR.SCHBSP.2.PU.WELEC',
 'UIS.AFR.SCHBSP.2.PU.WPOWAT',
 'UIS.AFR.SCHBSP.2.PU.MIXTOIL',
 'UIS.AFR.SCHBSP.2.PU.WNIELEC',
 'UIS.AFR.SCHBSP.2.PU.WNIPOWAT',
 'UIS.AFR.SCHBSP.2.PU.WNITOIL',
 'UIS.AFR.SCHBSP.2.PU.WSTOIL',
 'UIS.AFR.SCHBSP.2.PU.WTOIL',
 'UIS.AFR.SCHBSP.2.PU.WOELEC',
 'UIS.AFR.SCHBSP.2.PU.WOPOWAT',
 'UIS.AFR.SCHBSP.2.PU.WOTOIL',
 'UIS.AFR.TRNTP.2.PU.M',
 'UIS.AFR.TRNTP.1.PU.M',
 'UIS.AFR.TRNTP.3.PU.M',
 'UIS.AFR.NTP.2.PU.M',
 'UIS.AFR.NTP.1.PU.M',
 'UIS.AFR.NTP.3.PU.M',
 'UIS.AFR.FNTP.2',
 'UIS.AFR.TRNTP.2.PU.T',
 'UIS.AFR.FNTP.1',
 'UIS.AFR.TRNTP.1.PU.T',
 'UIS.AFR.FNTP.3',
 'UIS.AFR.TRNTP.3.PU.T',
 'UIS.AFR.ECP.MG.1.PU',
 'UIS.AFR.SCHBSP.1.PU.WELEC',
 'UIS.AFR.SCHBSP.1.PU.WPOWAT',
 'UIS.AFR.SCHBSP.1.PU.MIXTOIL',
 'UIS.AFR.SCHBSP.1.PU.WNIELEC',
 'UIS.AFR.SCHBSP.1.PU.WNIPOWAT',
 'UIS.AFR.SCHBSP.1.PU.WNITOIL',
 'UIS.AFR.SCHBSP.1.PU.WSTOIL',
 'UIS.AFR.SCHBSP.1.PU.WTOIL',
 'UIS.AFR.SCHBSP.1.PU.WOELEC',
 'UIS.AFR.SCHBSP.1.PU.WOPOWAT',
 'UIS.AFR.SCHBSP.1.PU.WOTOIL',
 'UIS.AFR.NTP.2.PU.T',
 'UIS.AFR.NTP.1.PU.T',
 'UIS.AFR.NTP.3.PU.T',
 'UIS.AFR.GTCTR.2.T',
 'UIS.AFR.GTCTR.2.F',
 'UIS.AFR.GTCTR.2.M',
 'UIS.AFR.GTCTR.1.T',
 'UIS.AFR.GTCTR.1.F',
 'UIS.AFR.GTCTR.1.M',
 'UIS.AFR.GTCTR.3.T',
 'UIS.AFR.GTCTR.3.F',
 'UIS.AFR.GTCTR.3.M',
 'UIS.AFR.SCHCENRESPR.1.PU',
 'UIS.AFR.SCHCENRESPR.23.PU',
 'UIS.AFR.TATTRR.2.PU.T',
 'UIS.AFR.TATTRR.2.Pu.F',
 'UIS.AFR.TATTRR.2.Pu.M',
 'UIS.AFR.TATTRR.1.PU.T',
 'UIS.AFR.TATTRR.1.PU.F',
 'UIS.AFR.TATTRR.1.PU.M',
 'UIS.AFR.TATTRR.3.Pu.T',
 'UIS.AFR.TATTRR.3.Pu.F',
 'UIS.AFR.TATTRR.3.Pu.M',
 'UIS.XSPENDP.2.FDPUB.FNS',
 'UIS.XSPENDP.4.FDPUB.FNS',
 'UIS.XSPENDP.0.FDPUB.FNS',
 'UIS.XSPENDP.1.FDPUB.FNS',
 'UIS.XSPENDP.FDPUB.FNS',
 'UIS.XSPENDP.23.FDPUB.FNS',
 'UIS.XSPENDP.56.FDPUB.FNS',
 'UIS.XSPENDP.3.FDPUB.FNS',
 'OECD.TSAL.2.E10',
 'OECD.TSAL.2.E15',
 'OECD.TSAL.2.E0',
 'OECD.TSAL.2.ETOP',
 'OECD.TSAL.0.E10',
 'OECD.TSAL.0.E15',
 'OECD.TSAL.0.E0',
 'OECD.TSAL.0.ETOP',
 'OECD.TSAL.1.E10',
 'OECD.TSAL.1.E15',
 'OECD.TSAL.1.E0',
 'OECD.TSAL.1.ETOP',
 'OECD.TSAL.3.E10',
 'OECD.TSAL.3.E15',
 'OECD.TSAL.3.E0',
 'OECD.TSAL.3.ETOP',
 'BAR.PRM.SCHL.15UP.FE',
 'BAR.PRM.SCHL.15UP',
 'BAR.PRM.SCHL.1519.FE',
 'BAR.PRM.SCHL.1519',
 'BAR.PRM.SCHL.2024.FE',
 'BAR.PRM.SCHL.2024',
 'BAR.PRM.SCHL.25UP.FE',
 'BAR.PRM.SCHL.25UP',
 'BAR.PRM.SCHL.2529.FE',
 'BAR.PRM.SCHL.2529',
 'BAR.PRM.SCHL.3034.FE',
 'BAR.PRM.SCHL.3034',
 'BAR.PRM.SCHL.3539.FE',
 'BAR.PRM.SCHL.3539',
 'BAR.PRM.SCHL.4044.FE',
 'BAR.PRM.SCHL.4044',
 'BAR.PRM.SCHL.4549.FE',
 'BAR.PRM.SCHL.4549',
 'BAR.PRM.SCHL.5054.FE',
 'BAR.PRM.SCHL.5054',
 'BAR.PRM.SCHL.5559.FE',
 'BAR.PRM.SCHL.5559',
 'BAR.PRM.SCHL.6064.FE',
 'BAR.PRM.SCHL.6064',
 'BAR.PRM.SCHL.6569.FE',
 'BAR.PRM.SCHL.6569',
 'BAR.PRM.SCHL.7074.FE',
 'BAR.PRM.SCHL.7074',
 'BAR.PRM.SCHL.75UP.FE',
 'BAR.PRM.SCHL.75UP',
 'BAR.SEC.SCHL.15UP.FE',
 'BAR.SEC.SCHL.15UP',
 'BAR.SEC.SCHL.1519.FE',
 'BAR.SEC.SCHL.1519',
 'BAR.SEC.SCHL.2024.FE',
 'BAR.SEC.SCHL.2024',
 'BAR.SEC.SCHL.25UP.FE',
 'BAR.SEC.SCHL.25UP',
 'BAR.SEC.SCHL.2529.FE',
 'BAR.SEC.SCHL.2529',
 'BAR.SEC.SCHL.3034.FE',
 'BAR.SEC.SCHL.3034',
 'BAR.SEC.SCHL.3539.FE',
 'BAR.SEC.SCHL.3539',
 'BAR.SEC.SCHL.4044.FE',
 'BAR.SEC.SCHL.4044',
 'BAR.SEC.SCHL.4549.FE',
 'BAR.SEC.SCHL.4549',
 'BAR.SEC.SCHL.5054.FE',
 'BAR.SEC.SCHL.5054',
 'BAR.SEC.SCHL.5559.FE',
 'BAR.SEC.SCHL.5559',
 'BAR.SEC.SCHL.6064.FE',
 'BAR.SEC.SCHL.6064',
 'BAR.SEC.SCHL.6569.FE',
 'BAR.SEC.SCHL.6569',
 'BAR.SEC.SCHL.7074.FE',
 'BAR.SEC.SCHL.7074',
 'BAR.SEC.SCHL.75UP.FE',
 'BAR.SEC.SCHL.75UP',
 'BAR.TER.SCHL.15UP.FE',
 'BAR.TER.SCHL.15UP',
 'BAR.TER.SCHL.1519.FE',
 'BAR.TER.SCHL.1519',
 'BAR.TER.SCHL.2024.FE',
 'BAR.TER.SCHL.2024',
 'BAR.TER.SCHL.25UP.FE',
 'BAR.TER.SCHL.25UP',
 'BAR.TER.SCHL.2529.FE',
 'BAR.TER.SCHL.2529',
 'BAR.TER.SCHL.3034.FE',
 'BAR.TER.SCHL.3034',
 'BAR.TER.SCHL.3539.FE',
 'BAR.TER.SCHL.3539',
 'BAR.TER.SCHL.4044.FE',
 'BAR.TER.SCHL.4044',
 'BAR.TER.SCHL.4549.FE',
 'BAR.TER.SCHL.4549',
 'BAR.TER.SCHL.5054.FE',
 'BAR.TER.SCHL.5054',
 'BAR.TER.SCHL.5559.FE',
 'BAR.TER.SCHL.5559',
 'BAR.TER.SCHL.6064.FE',
 'BAR.TER.SCHL.6064',
 'BAR.TER.SCHL.6569.FE',
 'BAR.TER.SCHL.6569',
 'BAR.TER.SCHL.7074.FE',
 'BAR.TER.SCHL.7074',
 'BAR.TER.SCHL.75UP.FE',
 'BAR.TER.SCHL.75UP',
 'BAR.SCHL.15UP.FE',
 'BAR.SCHL.15UP',
 'BAR.SCHL.1519.FE',
 'BAR.SCHL.1519',
 'BAR.SCHL.2024.FE',
 'BAR.SCHL.2024',
 'BAR.SCHL.25UP.FE',
 'BAR.SCHL.25UP',
 'BAR.SCHL.2529.FE',
 'BAR.SCHL.2529',
 'BAR.SCHL.3034.FE',
 'BAR.SCHL.3034',
 'BAR.SCHL.3539.FE',
 'BAR.SCHL.3539',
 'BAR.SCHL.4044.FE',
 'BAR.SCHL.4044',
 'BAR.SCHL.4549.FE',
 'BAR.SCHL.4549',
 'BAR.SCHL.5054.FE',
 'BAR.SCHL.5054',
 'BAR.SCHL.5559.FE',
 'BAR.SCHL.5559',
 'BAR.SCHL.6064.FE',
 'BAR.SCHL.6064',
 'BAR.SCHL.6569.FE',
 'BAR.SCHL.6569',
 'BAR.SCHL.7074.FE',
 'BAR.SCHL.7074',
 'BAR.SCHL.75UP.FE',
 'BAR.SCHL.75UP',
 'BAR.NOED.15UP.FE.ZS',
 'BAR.PRM.CMPT.15UP.FE.ZS',
 'BAR.PRM.ICMP.15UP.FE.ZS',
 'BAR.SEC.CMPT.15UP.FE.ZS',
 'BAR.SEC.ICMP.15UP.FE.ZS',
 'BAR.TER.CMPT.15UP.FE.ZS',
 'BAR.TER.ICMP.15UP.FE.ZS',
 'BAR.NOED.1519.FE.ZS',
 'BAR.PRM.CMPT.1519.FE.ZS',
 'BAR.PRM.ICMP.1519.FE.ZS',
 'BAR.SEC.CMPT.1519.FE.ZS',
 'BAR.SEC.ICMP.1519.FE.ZS',
 'BAR.TER.CMPT.1519.FE.ZS',
 'BAR.TER.ICMP.1519.FE.ZS',
 'BAR.NOED.2024.FE.ZS',
 'BAR.PRM.CMPT.2024.FE.ZS',
 'BAR.PRM.ICMP.2024.FE.ZS',
 'BAR.SEC.CMPT.2024.FE.ZS',
 'BAR.SEC.ICMP.2024.FE.ZS',
 'BAR.TER.CMPT.2024.FE.ZS',
 'BAR.TER.ICMP.2024.FE.ZS',
 'BAR.NOED.25UP.FE.ZS',
 'BAR.PRM.CMPT.25UP.FE.ZS',
 'BAR.PRM.ICMP.25UP.FE.ZS',
 'BAR.SEC.CMPT.25UP.FE.ZS',
 'BAR.SEC.ICMP.25UP.FE.ZS',
 'BAR.TER.CMPT.25UP.FE.ZS',
 'BAR.TER.ICMP.25UP.FE.ZS',
 'BAR.NOED.2529.FE.ZS',
 'BAR.PRM.CMPT.2529.FE.ZS',
 'BAR.PRM.ICMP.2529.FE.ZS',
 'BAR.SEC.CMPT.2529.FE.ZS',
 'BAR.SEC.ICMP.2529.FE.ZS',
 'BAR.TER.CMPT.2529.FE.ZS',
 'BAR.TER.ICMP.2529.FE.ZS',
 'BAR.NOED.3034.FE.ZS',
 'BAR.PRM.CMPT.3034.FE.ZS',
 'BAR.PRM.ICMP.3034.FE.ZS',
 'BAR.SEC.CMPT.3034.FE.ZS',
 'BAR.SEC.ICMP.3034.FE.ZS',
 'BAR.TER.CMPT.3034.FE.ZS',
 'BAR.TER.ICMP.3034.FE.ZS',
 'BAR.NOED.3539.FE.ZS',
 'BAR.PRM.CMPT.3539.FE.ZS',
 'BAR.PRM.ICMP.3539.FE.ZS',
 'BAR.SEC.CMPT.3539.FE.ZS',
 'BAR.SEC.ICMP.3539.FE.ZS',
 'BAR.TER.CMPT.3539.FE.ZS',
 'BAR.TER.ICMP.3539.FE.ZS',
 'BAR.NOED.4044.FE.ZS',
 'BAR.PRM.CMPT.4044.FE.ZS',
 'BAR.PRM.ICMP.4044.FE.ZS',
 'BAR.SEC.CMPT.4044.FE.ZS',
 'BAR.SEC.ICMP.4044.FE.ZS',
 'BAR.TER.CMPT.4044.FE.ZS',
 'BAR.TER.ICMP.4044.FE.ZS',
 'BAR.NOED.4549.FE.ZS',
 'BAR.PRM.CMPT.4549.FE.ZS',
 'BAR.PRM.ICMP.4549.FE.ZS',
 'BAR.SEC.CMPT.4549.FE.ZS',
 'BAR.SEC.ICMP.4549.FE.ZS',
 'BAR.TER.CMPT.4549.FE.ZS',
 'BAR.TER.ICMP.4549.FE.ZS',
 'BAR.NOED.5054.FE.ZS',
 'BAR.PRM.CMPT.5054.FE.ZS',
 'BAR.PRM.ICMP.5054.FE.ZS',
 'BAR.SEC.CMPT.5054.FE.ZS',
 'BAR.SEC.ICMP.5054.FE.ZS',
 'BAR.TER.CMPT.5054.FE.ZS',
 'BAR.TER.ICMP.5054.FE.ZS',
 'BAR.NOED.5559.FE.ZS',
 'BAR.PRM.CMPT.5559.FE.ZS',
 'BAR.PRM.ICMP.5559.FE.ZS',
 'BAR.SEC.CMPT.5559.FE.ZS',
 'BAR.SEC.ICMP.5559.FE.ZS',
 'BAR.TER.CMPT.5559.FE.ZS',
 'BAR.TER.ICMP.5559.FE.ZS',
 'BAR.NOED.6064.FE.ZS',
 'BAR.PRM.CMPT.6064.FE.ZS',
 'BAR.PRM.ICMP.6064.FE.ZS',
 'BAR.SEC.CMPT.6064.FE.ZS',
 'BAR.SEC.ICMP.6064.FE.ZS',
 'BAR.TER.CMPT.6064.FE.ZS',
 'BAR.TER.ICMP.6064.FE.ZS',
 'BAR.NOED.6569.FE.ZS',
 'BAR.PRM.CMPT.6569.FE.ZS',
 'BAR.PRM.ICMP.6569.FE.ZS',
 'BAR.SEC.CMPT.6569.FE.ZS',
 'BAR.SEC.ICMP.6569.FE.ZS',
 'BAR.TER.CMPT.6569.FE.ZS',
 'BAR.TER.ICMP.6569.FE.ZS',
 'BAR.NOED.7074.FE.ZS',
 'BAR.PRM.CMPT.7074.FE.ZS',
 'BAR.PRM.ICMP.7074.FE.ZS',
 'BAR.SEC.CMPT.7074.FE.ZS',
 'BAR.SEC.ICMP.7074.FE.ZS',
 'BAR.TER.CMPT.7074.FE.ZS',
 'BAR.TER.ICMP.7074.FE.ZS',
 'BAR.NOED.75UP.FE.ZS',
 'BAR.PRM.CMPT.75UP.FE.ZS',
 'BAR.PRM.ICMP.75UP.FE.ZS',
 'BAR.SEC.CMPT.75UP.FE.ZS',
 'BAR.SEC.ICMP.75UP.FE.ZS',
 'BAR.TER.CMPT.75UP.FE.ZS',
 'BAR.TER.ICMP.75UP.FE.ZS',
 'BAR.NOED.15UP.ZS',
 'BAR.PRM.CMPT.15UP.ZS',
 'BAR.PRM.ICMP.15UP.ZS',
 'BAR.SEC.CMPT.15UP.ZS',
 'BAR.SEC.ICMP.15UP.ZS',
 'BAR.TER.CMPT.15UP.ZS',
 'BAR.TER.ICMP.15UP.ZS',
 'BAR.NOED.1519.ZS',
 'BAR.PRM.CMPT.1519.ZS',
 'BAR.PRM.ICMP.1519.ZS',
 'BAR.SEC.CMPT.1519.ZS',
 'BAR.SEC.ICMP.1519.ZS',
 'BAR.TER.CMPT.1519.ZS',
 'BAR.TER.ICMP.1519.ZS',
 'BAR.NOED.2024.ZS',
 'BAR.PRM.CMPT.2024.ZS',
 'BAR.PRM.ICMP.2024.ZS',
 'BAR.SEC.CMPT.2024.ZS',
 'BAR.SEC.ICMP.2024.ZS',
 'BAR.TER.CMPT.2024.ZS',
 'BAR.TER.ICMP.2024.ZS',
 'BAR.NOED.25UP.ZS',
 'BAR.PRM.CMPT.25UP.ZS',
 'BAR.PRM.ICMP.25UP.ZS',
 'BAR.SEC.CMPT.25UP.ZS',
 'BAR.SEC.ICMP.25UP.ZS',
 'BAR.TER.CMPT.25UP.ZS',
 'BAR.TER.ICMP.25UP.ZS',
 'BAR.NOED.2529.ZS',
 'BAR.PRM.CMPT.2529.ZS',
 'BAR.PRM.ICMP.2529.ZS',
 'BAR.SEC.CMPT.2529.ZS',
 'BAR.SEC.ICMP.2529.ZS',
 'BAR.TER.CMPT.2529.ZS',
 'BAR.TER.ICMP.2529.ZS',
 'BAR.NOED.3034.ZS',
 'BAR.PRM.CMPT.3034.ZS',
 'BAR.PRM.ICMP.3034.ZS',
 'BAR.SEC.CMPT.3034.ZS',
 'BAR.SEC.ICMP.3034.ZS',
 'BAR.TER.CMPT.3034.ZS',
 'BAR.TER.ICMP.3034.ZS',
 'BAR.NOED.3539.ZS',
 'BAR.PRM.CMPT.3539.ZS',
 'BAR.PRM.ICMP.3539.ZS',
 'BAR.SEC.CMPT.3539.ZS',
 'BAR.SEC.ICMP.3539.ZS',
 'BAR.TER.CMPT.3539.ZS',
 'BAR.TER.ICMP.3539.ZS',
 'BAR.NOED.4044.ZS',
 'BAR.PRM.CMPT.4044.ZS',
 'BAR.PRM.ICMP.4044.ZS',
 'BAR.SEC.CMPT.4044.ZS',
 'BAR.SEC.ICMP.4044.ZS',
 'BAR.TER.CMPT.4044.ZS',
 'BAR.TER.ICMP.4044.ZS',
 'BAR.NOED.4549.ZS',
 'BAR.PRM.CMPT.4549.ZS',
 'BAR.PRM.ICMP.4549.ZS',
 'BAR.SEC.CMPT.4549.ZS',
 'BAR.SEC.ICMP.4549.ZS',
 'BAR.TER.CMPT.4549.ZS',
 'BAR.TER.ICMP.4549.ZS',
 'BAR.NOED.5054.ZS',
 'BAR.PRM.CMPT.5054.ZS',
 'BAR.PRM.ICMP.5054.ZS',
 'BAR.SEC.CMPT.5054.ZS',
 'BAR.SEC.ICMP.5054.ZS',
 'BAR.TER.CMPT.5054.ZS',
 'BAR.TER.ICMP.5054.ZS',
 'BAR.NOED.5559.ZS',
 'BAR.PRM.CMPT.5559.ZS',
 'BAR.PRM.ICMP.5559.ZS',
 'BAR.SEC.CMPT.5559.ZS',
 'BAR.SEC.ICMP.5559.ZS',
 'BAR.TER.CMPT.5559.ZS',
 'BAR.TER.ICMP.5559.ZS',
 'BAR.NOED.6064.ZS',
 'BAR.PRM.CMPT.6064.ZS',
 'BAR.PRM.ICMP.6064.ZS',
 'BAR.SEC.CMPT.6064.ZS',
 'BAR.SEC.ICMP.6064.ZS',
 'BAR.TER.CMPT.6064.ZS',
 'BAR.TER.ICMP.6064.ZS',
 'BAR.NOED.6569.ZS',
 'BAR.PRM.CMPT.6569.ZS',
 'BAR.PRM.ICMP.6569.ZS',
 'BAR.SEC.CMPT.6569.ZS',
 'BAR.SEC.ICMP.6569.ZS',
 'BAR.TER.CMPT.6569.ZS',
 'BAR.TER.ICMP.6569.ZS',
 'BAR.NOED.7074.ZS',
 'BAR.PRM.CMPT.7074.ZS',
 'BAR.PRM.ICMP.7074.ZS',
 'BAR.SEC.CMPT.7074.ZS',
 'BAR.SEC.ICMP.7074.ZS',
 'BAR.TER.CMPT.7074.ZS',
 'BAR.TER.ICMP.7074.ZS',
 'BAR.NOED.75UP.ZS',
 'BAR.PRM.CMPT.75UP.ZS',
 'BAR.PRM.ICMP.75UP.ZS',
 'BAR.SEC.CMPT.75UP.ZS',
 'BAR.SEC.ICMP.75UP.ZS',
 'BAR.TER.CMPT.75UP.ZS',
 'BAR.TER.ICMP.75UP.ZS',
 'BAR.POP.15UP.FE',
 'BAR.POP.15UP',
 'BAR.POP.1519.FE',
 'BAR.POP.1519',
 'BAR.POP.2024.FE',
 'BAR.POP.2024',
 'BAR.POP.25UP.FE',
 'BAR.POP.25UP',
 'BAR.POP.2529.FE',
 'BAR.POP.2529',
 'BAR.POP.3034.FE',
 'BAR.POP.3034',
 'BAR.POP.3539.FE',
 'BAR.POP.3539',
 'BAR.POP.4044.FE',
 'BAR.POP.4044',
 'BAR.POP.4549.FE',
 'BAR.POP.4549',
 'BAR.POP.5054.FE',
 'BAR.POP.5054',
 'BAR.POP.5559.FE',
 'BAR.POP.5559',
 'BAR.POP.6064.FE',
 'BAR.POP.6064',
 'BAR.POP.6569.FE',
 'BAR.POP.6569',
 'BAR.POP.7074.FE',
 'BAR.POP.7074',
 'BAR.POP.75UP.FE',
 'BAR.POP.75UP',
 'UIS.XSPENDP.2.FDPUB.FNCAP',
 'UIS.XSPENDP.4.FDPUB.FNCAP',
 'UIS.XSPENDP.0.FDPUB.FNCAP',
 'UIS.XSPENDP.1.FDPUB.FNCAP',
 'UIS.XSPENDP.FDPUB.FNCAP',
 'UIS.XSPENDP.23.FDPUB.FNCAP',
 'UIS.XSPENDP.56.FDPUB.FNCAP',
 'UIS.XSPENDP.3.FDPUB.FNCAP',
 'UIS.DR.2.GPV.T',
 'UIS.DR.2.GPV.F',
 'UIS.DR.2.GPV.M',
 'SE.PRM.DROP.ZS',
 'SE.PRM.DROP.FE.ZS',
 'SE.PRM.DROP.MA.ZS',
 'UIS.XSPENDP.2.FDPUB.FNCUR',
 'UIS.XSPENDP.4.FDPUB.FNCUR',
 'UIS.XSPENDP.0.FDPUB.FNCUR',
 'UIS.XSPENDP.1.FDPUB.FNCUR',
 'SE.XPD.CUR.TOTL.ZS',
 'UIS.XSPENDP.23.FDPUB.FNCUR',
 'UIS.XSPENDP.56.FDPUB.FNCUR',
 'UIS.XSPENDP.3.FDPUB.FNCUR',
 'UIS.XSPENDP.2.FDPUB.FNNONS',
 'UIS.XSPENDP.4.FDPUB.FNNONS',
 'UIS.XSPENDP.0.FDPUB.FNNONS',
 'UIS.XSPENDP.1.FDPUB.FNNONS',
 'UIS.XSPENDP.FDPUB.FNNONS',
 'UIS.XSPENDP.23.FDPUB.FNNONS',
 'UIS.XSPENDP.56.FDPUB.FNNONS',
 'UIS.XSPENDP.3.FDPUB.FNNONS',
 'HH.DHS.YRS.1519',
 'HH.DHS.YRS.1519.F',
 'HH.DHS.YRS.1519.M',
 'HH.DHS.YRS.1519.Q1',
 'HH.DHS.YRS.1519.Q2',
 'HH.DHS.YRS.1519.Q3',
 'HH.DHS.YRS.1519.Q4',
 'HH.DHS.YRS.1519.Q5',
 'HH.DHS.YRS.1519.R',
 'HH.DHS.YRS.1519.U',
 'HH.DHS.YRS.15UP.GIN',
 'HH.DHS.YRS.15UP.GIN.F',
 'HH.DHS.YRS.15UP.GIN.M',
 'HH.DHS.YRS.15UP.GIN.Q1',
 'HH.DHS.YRS.15UP.GIN.Q2',
 'HH.DHS.YRS.15UP.GIN.Q3',
 'HH.DHS.YRS.15UP.GIN.Q4',
 'HH.DHS.YRS.15UP.GIN.Q5',
 'HH.DHS.YRS.15UP.GIN.R',
 'HH.DHS.YRS.15UP.GIN.U',
 'HH.DHS.GAR.456',
 'HH.DHS.GAR.456.F',
 'HH.DHS.GAR.456.M',
 'HH.DHS.GAR.456.Q1',
 'HH.DHS.GAR.456.Q2',
 'HH.DHS.GAR.456.Q3',
 'HH.DHS.GAR.456.Q4',
 'HH.DHS.GAR.456.Q5',
 'HH.DHS.GAR.456.R',
 'HH.DHS.GAR.456.U',
 'HH.DHS.NAR.1',
 'HH.DHS.NAR.1.F',
 'HH.DHS.NAR.1.M',
 'HH.DHS.NAR.1.Q1',
 'HH.DHS.NAR.1.Q2',
 'HH.DHS.NAR.1.Q3',
 'HH.DHS.NAR.1.Q4',
 'HH.DHS.NAR.1.Q5',
 'HH.DHS.NAR.1.R',
 'HH.DHS.NAR.1.U',
 'HH.DHS.NAR.23',
 'HH.DHS.NAR.23.F',
 'HH.DHS.NAR.23.M',
 'HH.DHS.NAR.23.Q1',
 'HH.DHS.NAR.23.Q2',
 'HH.DHS.NAR.23.Q3',
 'HH.DHS.NAR.23.Q4',
 'HH.DHS.NAR.23.Q5',
 'HH.DHS.NAR.23.R',
 'HH.DHS.NAR.23.U',
 'HH.DHS.NIR.1',
 'HH.DHS.NIR.1.F',
 'HH.DHS.NIR.1.M',
 'HH.DHS.NIR.1.Q1',
 'HH.DHS.NIR.1.Q2',
 'HH.DHS.NIR.1.Q3',
 'HH.DHS.NIR.1.Q4',
 'HH.DHS.NIR.1.Q5',
 'HH.DHS.NIR.1.R',
 'HH.DHS.NIR.1.U',
 'HH.DHS.PCR',
 'HH.DHS.PCR.F',
 'HH.DHS.PCR.M',
 'HH.DHS.PCR.Q1',
 'HH.DHS.PCR.Q2',
 'HH.DHS.PCR.Q3',
 'HH.DHS.PCR.Q4',
 'HH.DHS.PCR.Q5',
 'HH.DHS.PCR.R',
 'HH.DHS.PCR.U',
 'HH.DHS.OOS.1',
 'HH.DHS.OOS.1.F',
 'HH.DHS.OOS.1.M',
 'HH.DHS.OOS.1.Q1',
 'HH.DHS.OOS.1.Q2',
 'HH.DHS.OOS.1.Q3',
 'HH.DHS.OOS.1.Q4',
 'HH.DHS.OOS.1.Q5',
 'HH.DHS.OOS.1.R',
 'HH.DHS.OOS.1.U',
 'HH.DHS.SCR',
 'HH.DHS.SCR.F',
 'HH.DHS.SCR.M',
 'HH.DHS.SCR.Q1',
 'HH.DHS.SCR.Q2',
 'HH.DHS.SCR.Q3',
 'HH.DHS.SCR.Q4',
 'HH.DHS.SCR.Q5',
 'HH.DHS.SCR.R',
 'HH.DHS.SCR.U',
 'HH.DHS.TR.12',
 'HH.DHS.TR.12.F',
 'HH.DHS.TR.12.M',
 'HH.DHS.TR.12.Q1',
 'HH.DHS.TR.12.Q2',
 'HH.DHS.TR.12.Q3',
 'HH.DHS.TR.12.Q4',
 'HH.DHS.TR.12.Q5',
 'HH.DHS.TR.12.R',
 'HH.DHS.TR.12.U',
 'HH.DHS.OOST.DO',
 'HH.DHS.OOST.DO.F',
 'HH.DHS.OOST.DO.M',
 'HH.DHS.OOST.DO.Q1',
 'HH.DHS.OOST.DO.Q2',
 'HH.DHS.OOST.DO.Q3',
 'HH.DHS.OOST.DO.Q4',
 'HH.DHS.OOST.DO.Q5',
 'HH.DHS.OOST.DO.R',
 'HH.DHS.OOST.DO.U',
 'HH.DHS.OOST.L',
 'HH.DHS.OOST.L.F',
 'HH.DHS.OOST.L.M',
 'HH.DHS.OOST.L.Q1',
 'HH.DHS.OOST.L.Q2',
 'HH.DHS.OOST.L.Q3',
 'HH.DHS.OOST.L.Q4',
 'HH.DHS.OOST.L.Q5',
 'HH.DHS.OOST.L.R',
 'HH.DHS.OOST.L.U',
 'HH.DHS.OOST.X',
 'HH.DHS.OOST.X.F',
 'HH.DHS.OOST.X.M',
 'HH.DHS.OOST.X.Q1',
 'HH.DHS.OOST.X.Q2',
 'HH.DHS.OOST.X.Q3',
 'HH.DHS.OOST.X.Q4',
 'HH.DHS.OOST.X.Q5',
 'HH.DHS.OOST.X.R',
 'HH.DHS.OOST.X.U',
 'UIS.DR.2.GPV.G1.T',
 'UIS.DR.2.GPV.G1.F',
 'UIS.DR.2.GPV.G1.M',
 'UIS.DR.1.G1',
 'UIS.DR.1.G1.F',
 'UIS.DR.1.G1.M',
 'UIS.DR.2.GPV.G2.T',
 'UIS.DR.2.GPV.G2.F',
 'UIS.DR.2.GPV.G2.M',
 'UIS.DR.1.G2',
 'UIS.DR.1.G2.F',
 'UIS.DR.1.G2.M',
 'UIS.DR.2.GPV.G3.T',
 'UIS.DR.2.GPV.G3.F',
 'UIS.DR.2.GPV.G3.M',
 'UIS.DR.1.G3',
 'UIS.DR.1.G3.F',
 'UIS.DR.1.G3.M',
 'UIS.DR.2.GPV.G4.T',
 'UIS.DR.2.GPV.G4.F',
 'UIS.DR.2.GPV.G4.M',
 'UIS.DR.1.G4',
 'UIS.DR.1.G4.F',
 'UIS.DR.1.G4.M',
 'UIS.DR.2.GPV.G5.T',
 'UIS.DR.2.GPV.G5.F',
 'UIS.DR.2.GPV.G5.M',
 'UIS.DR.1.G5',
 'UIS.DR.1.G5.F',
 'UIS.DR.1.G5.M',
 'UIS.DR.1.G6',
 'UIS.DR.1.G6.F',
 'UIS.DR.1.G6.M',
 'SE.COM.DURS',
 'UIS.ESL.1.T',
 'UIS.ESL.1.F',
 'UIS.ESL.1.M',
 'SE.SEC.PROG.ZS',
 'SE.SEC.PROG.FE.ZS',
 'UIS.TRANRA.23.GPV.GPI',
 'SE.SEC.PROG.MA.ZS',
 'LO.EGRA.CWPM.AFA.2GRD',
 'LO.EGRA.CWPM.AFA.3GRD',
 'LO.EGRA.CWPM.AMH.2GRD',
 'LO.EGRA.CWPM.AMH.3GRD',
 'LO.EGRA.CWPM.ARB.2GRD',
 'LO.EGRA.CWPM.BMN.2GRD',
 'LO.EGRA.CWPM.BOM.2GRD',
 'LO.EGRA.CWPM.CHC.2GRD',
 'LO.EGRA.CWPM.CHC.4GRD',
 'LO.EGRA.CWPM.ENG.2GRD',
 'LO.EGRA.CWPM.ENG.3GRD',
 'LO.EGRA.CWPM.ENG.4GRD',
 'LO.EGRA.CWPM.ENG.6GRD',
 'LO.EGRA.CWPM.FLP.3GRD',
 'LO.EGRA.CWPM.FLF.2GRD',
 'LO.EGRA.CWPM.HAR.2GRD',
 'LO.EGRA.CWPM.HAR.3GRD',
 'LO.EGRA.CWPM.KNY.4GRD',
 'LO.EGRA.CWPM.KNY.6GRD',
 'LO.EGRA.CWPM.KIS.2GRD',
 'LO.EGRA.CWPM.SID.2GRD',
 'LO.EGRA.CWPM.SID.3GRD',
 'LO.EGRA.CWPM.SOM.2GRD',
 'LO.EGRA.CWPM.SOM.3GRD',
 'LO.EGRA.CWPM.SNG.2GRD',
 'LO.EGRA.CWPM.SPN.2GRD',
 'LO.EGRA.CWPM.SPN.3GRD',
 'LO.EGRA.CWPM.SPN.4GRD',
 'LO.EGRA.CWPM.TIG.2GRD',
 'LO.EGRA.CWPM.TIG.3GRD',
 'LO.EGRA.CLPM.AFA.2GRD',
 'LO.EGRA.CLPM.AFA.3GRD',
 'LO.EGRA.CLPM.AMH.2GRD',
 'LO.EGRA.CLPM.AMH.3GRD',
 'LO.EGRA.CLPM.BMN.2GRD',
 'LO.EGRA.CLPM.BOM.2GRD',
 'LO.EGRA.CLPM.CHC.2GRD',
 'LO.EGRA.CLPM.CHC.4GRD',
 'LO.EGRA.CLPM.ENG.2GRD',
 'LO.EGRA.CLPM.ENG.3GRD',
 'LO.EGRA.CLPM.ENG.4GRD',
 'LO.EGRA.CLPM.FRN.3GRD',
 'LO.EGRA.CLPM.FLF.2GRD',
 'LO.EGRA.CLPM.HAR.2GRD',
 'LO.EGRA.CLPM.HAR.3GRD',
 'LO.EGRA.CLPM.SID.2GRD',
 'LO.EGRA.CLPM.SID.3GRD',
 'LO.EGRA.CLPM.SOM.2GRD',
 'LO.EGRA.CLPM.SOM.3GRD',
 'LO.EGRA.CLPM.SNG.2GRD',
 'LO.EGRA.CLPM.SPN.2GRD',
 'LO.EGRA.CLPM.SPN.3GRD',
 'LO.EGRA.CLPM.SPN.4GRD',
 'LO.EGRA.CLPM.TIG.2GRD',
 'LO.EGRA.CLPM.TIG.3GRD',
 'LO.EGRA.CLSPM.AKU.2GRD',
 'LO.EGRA.CLSPM.ARB.2GRD',
 'LO.EGRA.CLSPM.ARB.3GRD',
 'LO.EGRA.CLSPM.AST.2GRD',
 'LO.EGRA.CLSPM.CHI.2GRD',
 'LO.EGRA.CLSPM.CIN.2GRD',
 'LO.EGRA.CLSPM.DAG.2GRD',
 'LO.EGRA.CLSPM.DAGB.2GRD',
 'LO.EGRA.CLSPM.DAN.2GRD',
 'LO.EGRA.CLSPM.ENG.2GRD',
 'LO.EGRA.CLSPM.ENG.3GRD',
 'LO.EGRA.CLSPM.ENG.4GRD',
 'LO.EGRA.CLSPM.ENG.6GRD',
 'LO.EGRA.CLSPM.EWE.2GRD',
 'LO.EGRA.CLSPM.FAN.2GRD',
 'LO.EGRA.CLSPM.FLP.3GRD',
 'LO.EGRA.CLSPM.GA.2GRD',
 'LO.EGRA.CLSPM.GON.2GRD',
 'LO.EGRA.CLSPM.ICI.2GRD',
 'LO.EGRA.CLSPM.IND.2GRD',
 'LO.EGRA.CLSPM.KAS.2GRD',
 'LO.EGRA.CLSPM.KII.2GRD',
 'LO.EGRA.CLSPM.KNY.4GRD',
 'LO.EGRA.CLSPM.KNY.6GRD',
 'LO.EGRA.CLSPM.LUN.2GRD',
 'LO.EGRA.CLSPM.LUV.2GRD',
 'LO.EGRA.CLSPM.NZE.2GRD',
 'LO.EGRA.CLSPM.SIL.2GRD',
 'LO.EGRA.NCWPM.AFA.2GRD',
 'LO.EGRA.NCWPM.AFA.3GRD',
 'LO.EGRA.NCWPM.AKU.2GRD',
 'LO.EGRA.NCWPM.AMH.2GRD',
 'LO.EGRA.NCWPM.AMH.3GRD',
 'LO.EGRA.NCWPM.ARB.2GRD',
 'LO.EGRA.NCWPM.ARB.3GRD',
 'LO.EGRA.NCWPM.AST.2GRD',
 'LO.EGRA.NCWPM.BMN.2GRD',
 'LO.EGRA.NCWPM.BOM.2GRD',
 'LO.EGRA.NCWPM.CHC.2GRD',
 'LO.EGRA.NCWPM.CHC.4GRD',
 'LO.EGRA.NCWPM.CHI.2GRD',
 'LO.EGRA.NCWPM.CIN.2GRD',
 'LO.EGRA.NCWPM.DAG.2GRD',
 'LO.EGRA.NCWPM.DAGB.2GRD',
 'LO.EGRA.NCWPM.DAN.2GRD',
 'LO.EGRA.NCWPM.ENG.2GRD',
 'LO.EGRA.NCWPM.ENG.3GRD',
 'LO.EGRA.NCWPM.ENG.4GRD',
 'LO.EGRA.NCWPM.ENG.6GRD',
 'LO.EGRA.NCWPM.EWE.2GRD',
 'LO.EGRA.NCWPM.FAN.2GRD',
 'LO.EGRA.NCWPM.FLP.3GRD',
 'LO.EGRA.NCWPM.FRN.3GRD',
 'LO.EGRA.NCWPM.FLF.2GRD',
 'LO.EGRA.NCWPM.GA.2GRD',
 'LO.EGRA.NCWPM.GON.2GRD',
 'LO.EGRA.NCWPM.HAR.2GRD',
 'LO.EGRA.NCWPM.HAR.3GRD',
 'LO.EGRA.NCWPM.ICI.2GRD',
 'LO.EGRA.NCWPM.IND.2GRD',
 'LO.EGRA.NCWPM.KAS.2GRD',
 'LO.EGRA.NCWPM.KII.2GRD',
 'LO.EGRA.NCWPM.KNY.4GRD',
 'LO.EGRA.NCWPM.KNY.6GRD',
 'LO.EGRA.NCWPM.KIS.2GRD',
 'LO.EGRA.NCWPM.LUN.2GRD',
 'LO.EGRA.NCWPM.LUV.2GRD',
 'LO.EGRA.NCWPM.NZE.2GRD',
 'LO.EGRA.NCWPM.SID.2GRD',
 'LO.EGRA.NCWPM.SID.3GRD',
 'LO.EGRA.NCWPM.SIL.2GRD',
 'LO.EGRA.NCWPM.SOM.2GRD',
 'LO.EGRA.NCWPM.SOM.3GRD',

In [441]:
Fichier_Data.loc[Fichier_Data['Country Code']=='ABW']

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
124610,Aruba,ABW,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124611,Aruba,ABW,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124612,Aruba,ABW,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124613,Aruba,ABW,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124614,Aruba,ABW,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128270,Aruba,ABW,"Youth illiterate population, 15-24 years, male...",UIS.LP.AG15T24.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128271,Aruba,ABW,"Youth literacy rate, population 15-24 years, b...",SE.ADT.1524.LT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128272,Aruba,ABW,"Youth literacy rate, population 15-24 years, f...",SE.ADT.1524.LT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128273,Aruba,ABW,"Youth literacy rate, population 15-24 years, g...",SE.ADT.1524.LT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128274,Aruba,ABW,"Youth literacy rate, population 15-24 years, m...",SE.ADT.1524.LT.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN


CE FICHIER CONTIENT  886930 LIGNES NUMEROTEES DE 0 A 886929 ET 70 COLONNES NUMEROTEES DE 0 A 69. IL COMPORTE 66 COLONNE DE TYPES FLOAT (NOMBRES DECIMAUX) ET 4 DE TYPE OBJECT (CHAINE DE CARACTERES).


ON CONSTATE QUE LA COLONNE N° 69 (Unnamed: 69) EST ENTIEREMENT VIDE, EN EFFET ELLE CONTIENT 0 NON-NULL. LA COLONNE N°51 REPRESENTANT L'ANNEE 2017 EST TRES PEU RENSEIGNEE (SEULEMENT 143 NON-NULL).LES ANNEES TERMINANT PAR 0 OU 5 ENTRE 1970 ET 1990 INCLUS SONT MIEUX RENSEIGNEES QUE LES AUTRES SUR LA MEME PERIODE. CE PHENOMENE CE REPETE DE 1990 A 2000 BIEN QUE SUR CETTE PERIODE LES "FAIBLES" RENSEIGNEMENTS ONT OTUT DE MEME DOUBLES EN VALEUR ABSOLUE. A PARTIR DES ANNEES 1999-2000 JUSQU'EN 2015 LES RENSEIGNEMENTS VONT DE 120K A 200K VOIR 240K. 2016 ET 2017 ETANT TRES MAL RENSEIGNEES LES COLONNES N°52 JUSQU'A 68 c.à.d. DE L'ANNEE 2020 JUSQU'A L'ANNEE 2100 COMPORTE TOUTES 51436 VALEURS NON NULLES (CERTAINEMENT DES PROJECTIONS DE VALEURS)

In [442]:
Fichier_Data['Country Name'].unique()

array(['Arab World', 'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)', 'European Union',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle income', 'North America', 'OECD members', 'South Asia',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Upper middle income', 'World', 'Afghanistan', 'Albania',
       'Algeria', 'American Samoa', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Korea, Dem. People’s Rep.', 'Korea, Rep.', 'Kosovo',
       'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macao SAR, China', 'Macedonia, FYR', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

ON CONSTATE QUE DANS CETTE TABLE LE COUNTRY CODE DESIGNE DES PAYS MAIS AUSSI DES ZONES REGIONALES (COMME ASIE DE L'EST ET PACIFIQUE (AVEC LES LOW INCOME INCLUS OU NON), PAYS DE L'OCDE, ZONE EURO...) VOIR LA TOTALITE DU MONDE.

In [443]:
# ON VA DROP TOUTES LES COLONNES QUI N'ONT PAS AU MOINS 70% DE NON NULL

Liste_à_drop = []
for features in Fichier_Data.columns:
    if Fichier_Data[features].isnull().sum()>0.95*Fichier_Data.shape[0]:
        Liste_à_drop.append(features)
print(Liste_à_drop)
Fichier_Data=Fichier_Data.drop(Liste_à_drop,axis=1)
Fichier_Data.info()

['1971', '1972', '1973', '1974', '1976', '1977', '1978', '1979', '1981', '1982', '1983', '1984', '1986', '1987', '1988', '1989', '2016', '2017', 'Unnamed: 69']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886930 entries, 0 to 886929
Data columns (total 51 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    886930 non-null  object
 1   Country Code    886930 non-null  object
 2   Indicator Name  886930 non-null  object
 3   Indicator Code  886930 non-null  object
 4   1970            72288 non-null   float64
 5   1975            87306 non-null   float64
 6   1980            89122 non-null   float64
 7   1985            90296 non-null   float64
 8   1990            124405 non-null  float64
 9   1991            74437 non-null   float64
 10  1992            75543 non-null   float64
 11  1993            75793 non-null   float64
 12  1994            77462 non-null   float64
 13  1995            131361 non-null  float64
 14  1996            76807 non-null   float64
 15  1997            73453 non-null   float64
 16  1998            84914 non-null   float64
 17  1999            118839 non-null  float64
 18  2000            176676 non-null  float64
 19  2001            123509 non-null  float64
 20  2002            124205 non-null  float64
 21  2003            130363 non-null  float64
 22  2004            128814 non-null  float64
 23  2005            184108 non-null  float64
 24  2006            140312 non-null  float64
 25  2007            137272 non-null  float64
 26  2008            134387 non-null  float64
 27  2009            142108 non-null  float64
 28  2010            242442 non-null  float64
 29  2011            146012 non-null  float64
 30  2012            147264 non-null  float64
 31  2013            137509 non-null  float64
 32  2014            113789 non-null  float64
 33  2015            131058 non-null  float64
 34  2020            51436 non-null   float64
 35  2025            51436 non-null   float64
 36  2030            51436 non-null   float64
 37  2035            51436 non-null   float64
 38  2040            51436 non-null   float64
 39  2045            51436 non-null   float64
 40  2050            51436 non-null   float64
 41  2055            51436 non-null   float64
 42  2060            51436 non-null   float64
 43  2065            51436 non-null   float64
 44  2070            51436 non-null   float64
 45  2075            51436 non-null   float64
 46  2080            51436 non-null   float64
 47  2085            51436 non-null   float64
 48  2090            51436 non-null   float64
 49  2095            51436 non-null   float64
 50  2100            51436 non-null   float64
dtypes: float64(47), object(4)
memory usage: 345.1+ MB

In [444]:
# ON VA MAINTENANT DROP LES LIGNES TROP PEU RENSEIGNEES (C.A.D. QUI ONT SEULEMENT LES QUATRES PREMIERES COLONNES COMPLETEES)

Fichier_Data=Fichier_Data.dropna(thresh=22)
# J'AI CHOISI UNE LIMITE A AU MOINS 22 NON NULL DANS LA LIGNE AFIN D'INCLURE LES LIGNES QUI ONT AU MOINS UNE DONNEE SUPPLEMENTAIRE
# QUE LES 4 PREMIERES(QUI NE MANQUENT NULLE PART) ET LES 17 DERNIERES QUI SONT DES PROJECTIONS
Fichier_Data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127594 entries, 4 to 886921
Data columns (total 51 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    127594 non-null  object
 1   Country Code    127594 non-null  object
 2   Indicator Name  127594 non-null  object
 3   Indicator Code  127594 non-null  object
 4   1970            17424 non-null   float64
 5   1975            26745 non-null   float64
 6   1980            27763 non-null   float64
 7   1985            29474 non-null   float64
 8   1990            64454 non-null   float64
 9   1991            66081 non-null   float64
 10  1992            67030 non-null   float64
 11  1993            67634 non-null   float64
 12  1994            68868 non-null   float64
 13  1995            68729 non-null   float64
 14  1996            68617 non-null   float64
 15  1997            66312 non-null   float64
 16  1998            65847 non-null   float64
 17  1999            73671 non-null   float64
 18  2000            74053 non-null   float64
 19  2001            74355 non-null   float64
 20  2002            74331 non-null   float64
 21  2003            73442 non-null   float64
 22  2004            74349 non-null   float64
 23  2005            74772 non-null   float64
 24  2006            74724 non-null   float64
 25  2007            74507 non-null   float64
 26  2008            73882 non-null   float64
 27  2009            74137 non-null   float64
 28  2010            125293 non-null  float64
 29  2011            73714 non-null   float64
 30  2012            73639 non-null   float64
 31  2013            72464 non-null   float64
 32  2014            59333 non-null   float64
 33  2015            105443 non-null  float64
 34  2020            51436 non-null   float64
 35  2025            51436 non-null   float64
 36  2030            51436 non-null   float64
 37  2035            51436 non-null   float64
 38  2040            51436 non-null   float64
 39  2045            51436 non-null   float64
 40  2050            51436 non-null   float64
 41  2055            51436 non-null   float64
 42  2060            51436 non-null   float64
 43  2065            51436 non-null   float64
 44  2070            51436 non-null   float64
 45  2075            51436 non-null   float64
 46  2080            51436 non-null   float64
 47  2085            51436 non-null   float64
 48  2090            51436 non-null   float64
 49  2095            51436 non-null   float64
 50  2100            51436 non-null   float64
dtypes: float64(47), object(4)
memory usage: 50.6+ MB

In [445]:
Fichier_Data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1975,1980,1985,1990,1991,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,59.365540,65.617767,69.033211,71.995819,72.602837,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arab World,ARB,"Adjusted net enrolment rate, primary, female (%)",SE.PRM.TENR.FE,43.351101,48.363892,56.486790,61.520870,65.827492,66.797028,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Arab World,ARB,"Adjusted net enrolment rate, primary, gender p...",UIS.NERA.1.GPI,0.658570,0.691760,0.759440,0.806770,0.844660,0.854320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Arab World,ARB,"Adjusted net enrolment rate, primary, male (%)",SE.PRM.TENR.MA,65.826233,69.914551,74.379982,76.255493,77.933853,78.187492,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Arab World,ARB,Adjusted net intake rate to Grade 1 of primary...,UIS.NIRA.1,52.448921,54.865627,62.559566,64.613091,67.080444,67.508705,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [446]:
Fichier_Data.loc[Fichier_Data['Country Code']=='ABW']

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1975,1980,1985,1990,1991,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
125853,Aruba,ABW,GDP at market prices (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125855,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125985,Aruba,ABW,Internet users (per 100 people),IT.NET.USER.P2,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126291,Aruba,ABW,Official entrance age to lower secondary educa...,SE.SEC.AGES,12.0,12.0,12.0,12.0,12.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126293,Aruba,ABW,Official entrance age to pre-primary education...,UIS.THAGE.0,4.0,4.0,4.0,4.0,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128262,Aruba,ABW,Wittgenstein Projection: Population in thousan...,PRJ.POP.ALL.1.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,6.96,6.42,5.89,5.36,4.81,4.26,3.71,3.19,2.71,2.28
128263,Aruba,ABW,Wittgenstein Projection: Population in thousan...,PRJ.POP.ALL.1.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,13.77,12.62,11.51,10.43,9.39,8.36,7.36,6.40,5.52,4.72
128264,Aruba,ABW,Wittgenstein Projection: Population in thousan...,PRJ.POP.ALL.3.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,13.73,14.30,14.82,15.31,15.72,15.96,16.01,15.91,15.70,15.42
128265,Aruba,ABW,Wittgenstein Projection: Population in thousan...,PRJ.POP.ALL.3.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,12.27,13.10,13.79,14.43,14.95,15.27,15.40,15.35,15.19,14.95
128266,Aruba,ABW,Wittgenstein Projection: Population in thousan...,PRJ.POP.ALL.3.MF,NaN,NaN,NaN,NaN,NaN,NaN,...,26.01,27.40,28.61,29.74,30.66,31.23,31.41,31.26,30.89,30.37

# ***<u>PASSONS AU PROCHAIN FICHIER NOMME EdStatsFootNote</u>***

In [447]:
#definition du path
path=r'C:\Users\lenovo\Desktop\OpenClassrooms\PROJET_OC\PROJET_2\RESSOURCES\Projet+Python_Dataset_Edstats_csv\EdStatsFootNote.csv'

In [448]:
# CREATION DU DATAFRAME CORRESPONDANT
Fichier_FootNote = pd.read_csv(path)

In [449]:
# ETUDE DES 5 PREMIERES LIGNES DU DATAFRAME
Fichier_FootNote.head(5)

  CountryCode      SeriesCode    Year          DESCRIPTION  Unnamed: 4
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.         NaN
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.         NaN
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.         NaN
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.         NaN
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.         NaN


DE PRIME ABORD ON PEUT CONSTATER QUE CE FICHIER EST TRIE PAR ORDRE ALPHABETIQUE DE COUNTRY CODE, ABW POUR ARUBA COMME ON A PU LE VOIR DANS LE 1ER FICHIER. IL FAUDRA EXPLORER PLUS EN PROFONDEUR CES RENSEIGNEMENTS

IL COMPORTE 5 COLONNES COMME LE COUNTRY CODE QUI SERT D'IDENTIFIANT

UNE COLONNE CountryCode REFERENCANT LA ZONE GEOGRAPHIQUE

UNE COLONNE NOMMEE SeriesCode REFERENCANT LE CODE DE LA SERIE DE DONNEES

UNE COLONNE Year RENSEIGNANT L'ANNEE A LAQUELLE SE RAPPORTE LA SERIE

UNE COLONNE DESCRIPTION EXPLIQUANT SI LA DONNEE EST UNE ESTIMATION OU UNE DONNEE COLLECTEE

LA DERNIERE NOMMEE Unnamed: 4 CERTAINEMENT VIDE COMME SUR LES FICHIERS PRECEDENT

In [450]:
# RENTRONS PLUS EN DETAIL DANS L'EXPLORATION DE CE DATAFRAME
Fichier_FootNote.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643638 entries, 0 to 643637
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CountryCode  643638 non-null  object
 1   SeriesCode   643638 non-null  object
 2   Year         643638 non-null  object
 3   DESCRIPTION  643638 non-null  object
 4   Unnamed: 4   0 non-null       float64
dtypes: float64(1), object(4)
memory usage: 24.6+ MB


CE FICHIER CONTIENT  643638 LIGNES NUMEROTEES DE 0 A 643637 ET 5 COLONNES NUMEROTEES DE 0 A 4. IL COMPORTE 1 COLONNE DE TYPES FLOAT (NOMBRES DECIMAUX) ET 4 DE TYPE OBJECT (CHAINE DE CARACTERES). 

ON CONSTATE QUE LA COLONNE N° 4 (Unnamed: 4) EST ENTIEREMENT VIDE, EN EFFET ELLE CONTIENT 0 NON-NULL. QUANT AUX AUTRES COLONNE ELLES SONT TOUTES COMPLETES

In [451]:
# ON VA DROP TOUTES LES COLONNES QUI N'ONT PAS AU MOINS 70% DE NON NULL

Liste_à_drop = []
for features in Fichier_FootNote.columns:
    if Fichier_FootNote[features].isnull().sum()>0.3*Fichier_FootNote.shape[0]:
        Liste_à_drop.append(features)
print(Liste_à_drop)
Fichier_FootNote=Fichier_FootNote.drop(Liste_à_drop,axis=1)
Fichier_FootNote.info()

['Unnamed: 4']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643638 entries, 0 to 643637
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CountryCode  643638 non-null  object
 1   SeriesCode   643638 non-null  object
 2   Year         643638 non-null  object
 3   DESCRIPTION  643638 non-null  object
dtypes: object(4)
memory usage: 19.6+ MB

# ***<u>PASSONS AU PROCHAIN FICHIER NOMME EdStatsSeries</u>***

In [452]:
#definition du path
path=r'C:\Users\lenovo\Desktop\OpenClassrooms\PROJET_OC\PROJET_2\RESSOURCES\Projet+Python_Dataset_Edstats_csv\EdStatsSeries.csv'

In [453]:
# CREATION DU DATAFRAME CORRESPONDANT
Fichier_Series = pd.read_csv(path)

In [454]:
# ETUDE DES 5 PREMIERES LIGNES DU DATAFRAME
Fichier_Series.head(2)

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN


DE PRIME ABORD ON PEUT CONSTATER QUE CE FICHIER EST TRIE PAR ORDRE ALPHABETIQUE DE Series Code, IL SEMBLERAIT QUE DANS LE NOM SE TROUVE LA TRNACHE D'AGE ETUDIE PAR EXEMPLE 1519 POUR LES 15-19 ANS. IL FAUDRA EXPLORER PLUS EN PROFONDEUR CES RENSEIGNEMENTS

L'ENSEMBLE DES COLONNES A POUR BUT DE RENSEIGNER LA MANIERE DONT ONT ETE COLLECTEES LES DONNEES, LES SOURCES UTILISEES, LES UNITES DE MESURES...

In [455]:
# RENTRONS PLUS EN DETAIL DANS L'EXPLORATION DE CE DATAFRAME
Fichier_Series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 21 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Series Code                          3665 non-null   object
 1   Topic                                3665 non-null   object
 2   Indicator Name                       3665 non-null   object
 3   Short definition                     2156 non-null   object
 4   Long definition                      3665 non-null   object
 5   Unit of measure                      0 non-null      float64
 6   Periodicity                          99 non-null     object
 7   Base Period                          314 non-null    object
 8   Other notes                          552 non-null    object
 9   Aggregation method                   47 non-null     object
 10  Limitations and exceptions           14 non-null     object
 11  Notes from original source           0 non-null      float64
 12  General comments                     14 non-null     object
 13  Source                               3665 non-null   object
 14  Statistical concept and methodology  23 non-null     object
 15  Development relevance                3 non-null      object
 16  Related source links                 215 non-null    object
 17  Other web links                      0 non-null      float64
 18  Related indicators                   0 non-null      float64
 19  License Type                         0 non-null      float64
 20  Unnamed: 20                          0 non-null      float64
dtypes: float64(6), object(15)
memory usage: 601.4+ KB


CE FICHIER CONTIENT  3665 LIGNES NUMEROTEES DE 0 A 3664 ET 21 COLONNES NUMEROTEES DE 0 A 20. IL COMPORTE 6 COLONNE DE TYPES FLOAT (NOMBRES DECIMAUX) ET 15 DE TYPE OBJECT (CHAINE DE CARACTERES). 
A NOTER QUE TOUTES LES COLONNES DE TYPES FLOAT SONT ENTIEREMENT VIDES


LES COLONNES N° 0, 1, 2, 4, 13 SONT COMPLETES. LA COLONNE N°3 Short Definition EST QUANT A ELLE COMPLETES A ENVIRON 60%. QUANT AUX AUTRES ELLES NE DEPASSENT PAS LES 552 RENSEIGNEMENTS (ENVIRON 15%). ENFIN LES N° 5, 11, 17, 18, 19, 20 SONT ENTIEREMENT VIDES

In [456]:
# ON VA DROP TOUTES LES COLONNES QUI N'ONT PAS AU MOINS 70% DE NON NULL

Liste_à_drop = []
for features in Fichier_Series.columns:
    if Fichier_Series[features].isnull().sum()>0.3*Fichier_Series.shape[0]:
        Liste_à_drop.append(features)
print(Liste_à_drop)
Fichier_Series=Fichier_Series.drop(Liste_à_drop,axis=1)
Fichier_Series.info()

['Short definition', 'Unit of measure', 'Periodicity', 'Base Period', 'Other notes', 'Aggregation method', 'Limitations and exceptions', 'Notes from original source', 'General comments', 'Statistical concept and methodology', 'Development relevance', 'Related source links', 'Other web links', 'Related indicators', 'License Type', 'Unnamed: 20']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Series Code      3665 non-null   object
 1   Topic            3665 non-null   object
 2   Indicator Name   3665 non-null   object
 3   Long definition  3665 non-null   object
 4   Source           3665 non-null   object
dtypes: object(5)
memory usage: 143.3+ KB

# ***<u>FIN ETUDE PRELIMINAIRE</u>***

REPRISE DE L'ANALYSE

LE FICHIER "Fichier_Series" NE SEMBLE PAS PERTINENT POUR L'ANALYSE (IL DETAILLE EN FAIT LA METHODOLOGIE APPLIQUEE POUR RECUEUILLIR L'ENSEMBLE DES DONNEES)

DE MEME POUR "Fichier_Footnote" AINSI QUE "Fichier_Country_Series" QUI LA AUSSI SONT DES FICHIERS DE METHODOLOGIE.